@import url('https://fonts.googleapis.com/css?family=Cairo:700&display=swap&subset=arabic');
html{
  direction: rtl !important;
}
.clearboth{
  clear: both;
}
/* Sidebar Section*/
.sidebar .sidebar-brand{
  padding: 1.5rem 0;
}
.sidebar .nav-item .nav-link{
  text-align: right !important;
  float: left !important;
}
.sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after{
  content: '\f053' !important;
}
.sidebar .nav-item .nav-link span{
  font-family: Tahoma,Arial,sans-serif !important;
  font-size: 1rem;
  font-weight: bold;
}
.sidebar .nav-item .bg-white{
  background-color: #3b65e0  !important;
}
.sidebar .nav-item .nav-link[data-toggle=collapse]::after{
  margin-left: 0px;
  float: left;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item{

 text-align: right;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item{
  color: #fff !important;
  font-weight: 600;

}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active{
  background-color: #364ede;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover{
  background-color: #364ede;
}
.sidebar .nav-item .collapse{
  left: 20px;
}
/*Navabr Section*/
.input-group>.input-group-append>.btn{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.topbar .dropdown .dropdown-menu{
  left: 0;
  right: auto;
  text-align: right;
}
.topbar .dropdown .dropdown-menu .dropdown-item{
  padding: .25rem .5rem;
}
.sidebar.toggled .nav-item .nav-link{
  text-align: center !important;
}
.sidebar.toggled .nav-item .collapse{
  right: calc(3.5rem + 1.5rem / 2)!important;
}
.sidebar .text-center button{
  margin-left: 50px;
  margin-top: 20px;
}
.sidebar #sidebarToggle{
  margin-right: -8px;
}

#content .container-fluid .card .card-header{
  text-align: start !important;
  padding: 0.5rem 1.25rem !important;

}
#content .container-fluid .card .card-header h6{
  display: inline-block;
  margin-top: 10px !important
}
#content .container-fluid .card .card-header .btn{
  float: left;
  display: inline-block;

}
/* Datatables*/
#dataTable_wrapper .row .col-md-6{
  text-align: initial;
}
div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
div.dataTables_wrapper div.dataTables_filter input,
div.dataTables_wrapper div.dataTables_paginate ul.pagination{
  margin-left: -10px;
}
#dataTable_wrapper .row .col-md-6 .dataTables_filter{
  text-align: left;
}
div.dataTables_wrapper div.dataTables_info{
  float: right;
}

#dataTable_wrapper .table thead tr,
#dataTable_wrapper .table tbody td{
  text-align: start;
}
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child{
 border-right-width: 1px;
}
table.table-bordered.dataTable td .custom-btn{
  background: red;
  padding: 6px 12px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  user-select: text;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
  -webkit-box-shadow 0.15s ease-in-out;
}
table.table-bordered.dataTable td .success{
  background-color: #1cc88a;
  border-color:#1cc88a;
}
table.table-bordered.dataTable td .info{
  background-color: #36b9cc;
  border-color:#36b9cc;
}
table.table-bordered.dataTable td .info:hover{
  background-color: #2c9faf;
  border-color:#2c9faf;
}
table.table-bordered.dataTable td .success:hover{
  background-color: #17a673;
  border-color: #169b6b;
}
table.table-bordered.dataTable td .danger{
  background-color: #e74a3b;
  border-color:#e74a3b;
}

/* Form*/
.form-content{
  background: #fff;
  padding: 15px 10px;
  border: 1px solid #e3e6f0;
  border-radius: 5px;
}
.form-content label{
  float: right;
}
.form-content button{
  float: right;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
   margin: 0;
}
input[type="file" i]{
  padding: 3px;
}
/* Error Messeges Inside The View Content*/
#content .container-fluid .card .error-alert{
  text-align: start;
}
#content .container-fluid .card .error-alert .alert{
  padding: .5rem 1.25rem;
}
/* usersgroups Page*/
.usersgroups .privileges-card{
  padding: 10px;
  text-align: start;

}

.usersgroups .privileges-card h5{
  color: #555
}
.usersgroups .privileges-card input[type="checkbox"]{
  width: 17px;
  height: 17px;
}
.usersgroups .privileges-card label{
  margin-top: -3px;
  position: absolute;
  margin-right: 20px;
  cursor: pointer;
}
